@use 'variables' as a; 

.btn {
  display: inline-block;
  width: 100%;
  background: a.$color-accent;
  color: a.$color-white;
  text-align: center;
  line-height: 5rem;
  height: 5rem;
  font-size: a.$fs-600;
  border-radius: .5rem;
  box-shadow: 0 .1rem .5rem a.$color-sub;
  &:hover {
    translate: 0 -.25rem;
    transition: all .3s;
    box-shadow: 0 .3rem .5rem a.$color-sub;
  }
  &:active {
    translate: 0 .5rem;
    transition: all .3s;
    box-shadow: 0 0 .5rem a.$color-sub;
  }
}